.title, .hero__title, .info__title, .promises__title {
  font-family: PlayfairDisplay, sans-serif, sans-serif;
  font-size: clamp(24px, 3vw, 44px);
  line-height: 1.18;
  color: #262A3F;
  font-weight: 400;
}

.text, .hero__text, .info__subtitle, .footer__bottom-text {
  font-family: Lato, sans-serif, sans-serif;
  font-size: clamp(12px, 3vw, 18px);
  line-height: 1.44;
  color: #262A3F;
  opacity: 0.6;
  font-weight: 300;
}

.menu__item, .footer__bottom-text span, .footer__bottom-item {
  font-family: Lato, sans-serif, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: #262A3F;
  letter-spacing: 0.08em;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.dark-ligth {
  padding: 10px;
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  position: fixed;
  top: 30%;
  right: 0;
  background-color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-ico {
  fill: #fff;
}

.ligth-ico {
  display: none;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-big {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-accent {
  color: #85BBB1;
  font-family: PlayfairDisplay, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.title {
  font-size: clamp(24px, 3vw, 40px);
  line-height: 1.2;
}

.text {
  opacity: 0.8;
}

.link-accent {
  font-family: Lato, sans-serif;
  font-weight: 800;
  font-size: clamp(14px, 3vw, 20px);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #F1897B;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.link-accent::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 13px;
  left: 5px;
  top: 50%;
  background-color: #F1897B;
  opacity: 0.3;
  z-index: 1;
}

.header {
  padding: clamp(15px, 1vw, 24px) 0;
  background: linear-gradient(90deg, rgba(22, 25, 38, 0), rgba(22, 25, 38, 0) 75%, rgba(22, 25, 38, 0.3411764706) 100%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  position: absolute;
  top: 25px;
  z-index: 3;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__btn {
  width: 34px;
  height: 20px;
  display: none;
  flex-direction: column;
  gap: 6px;
}
.menu__btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #262A3F;
  transition: opacity 0.3s ease;
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(15px, 3vw, 30px);
}
.menu__item {
  position: relative;
}
.menu__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #F1897B;
  bottom: -5px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.menu__item:hover::after {
  opacity: 0.3;
}

.hero__bg {
  width: 100%;
  position: relative;
}
.hero__bg-img {
  width: 100%;
}
.hero__bg-img__dark {
  display: none;
}
.hero__content {
  position: absolute;
  max-width: clamp(280px, 40vw, 523px);
  top: clamp(130px, 20vw, 30%);
}
.hero__title {
  margin-bottom: 20px;
}
.hero__text {
  margin-bottom: clamp(25px, 4vw, 50px);
}

.info__wrapper {
  position: relative;
  margin-top: -20%;
}
.info__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.info__title {
  font-size: clamp(16px, 4vw, 68px);
  line-height: 1.05;
}
.info__box {
  position: absolute;
  max-width: 770px;
  padding: clamp(5px, 1vw, 45px) 0 clamp(5px, 1vw, 45px) clamp(5px, 1vw, 56px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: clamp(10px, 3vw, 35px);
  background-color: rgba(255, 255, 255, 0.9);
  top: 7%;
  left: 35%;
}
.info__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(30px, 3vw, 80px);
}
.info__wrap {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 12px;
}
.info__item {
  position: relative;
}
.info__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: clamp(50px, 7vw, 100px);
  height: 1px;
  background-color: #85BBB1;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}
.info__ico {
  display: block;
  margin-top: auto;
  color: #d2cdcd;
}
.info__texts {
  max-width: 400px;
  margin-bottom: clamp(25px, 4vw, 50px);
}
.info__text:not(:last-child) {
  margin-bottom: clamp(15px, 3vw, 30px);
}
.info__subtitle {
  display: block;
  text-align: center;
}

.benefits {
  padding-top: clamp(60px, 8vw, 120px);
}
.benefits__items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: clamp(20px, 4vw, 45px) clamp(10px, 2vw, 30px);
}
.benefits__item {
  width: calc(50% - 15px);
  padding: clamp(20px, 3vw, 45px) clamp(15px, 3vw, 35px);
  border-top: 1px solid #E4E4E4;
}
.benefits__title {
  padding-right: clamp(15px, 3vw, 35px);
  margin-bottom: clamp(15px, 3vw, 30px);
}

.quote {
  padding-top: clamp(60px, 8vw, 120px);
}
.quote__content {
  background-image: -webkit-image-set(url("../assets/img/quote-bg.avif") type("image/avif"), url("../assets/img/quote-bg.webp") type("image/webp"), url("../assets/img/quote-bg.jpg") type("image/jpeg"));
  background-image: -webkit-image-set(url("../assets/img/quote-bg.avif") type("image/avif"), url("../assets/img/quote-bg.webp") type("image/webp"), url("../assets/img/quote-bg.jpg") type("image/jpg"));
  background-image: image-set(url("../assets/img/quote-bg.avif") type("image/avif"), url("../assets/img/quote-bg.webp") type("image/webp"), url("../assets/img/quote-bg.jpg") type("image/jpg"));
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: clamp(10px, 6vw, 70px) clamp(10px, 12vw, 160px) clamp(10px, 8vw, 100px);
  color: #fff;
}
.quote__text {
  max-width: clamp(300px, 60vw, 710px);
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 32px);
  line-height: 1.43;
  letter-spacing: 0.04em;
  position: relative;
  margin-bottom: clamp(20px, 3vw, 40px);
}
.quote__text::after {
  position: absolute;
  content: "";
  display: block;
  width: clamp(40px, 8vw, 102px);
  height: clamp(36px, 8vw, 84px);
  background-image: url("../assets/img/quote-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: -28%;
  left: -8%;
}
.quote__subtitle {
  font-family: PlayfairDisplay, sans-serif;
  font-style: italic;
  font-size: clamp(16px, 2vw, 20px);
  letter-spacing: 0.08em;
  font-weight: 400;
}

.video {
  padding-top: clamp(60px, 8vw, 120px);
}
.video__wrapper {
  width: 100%;
  padding: 31px 70px 31px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  position: relative;
  margin-bottom: 50px;
  max-width: 970px;
  margin: 0 auto 50px;
}
.video__wrapper::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
  top: 50%;
  left: 0.5%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.video__wrapper::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.video__preview {
  position: relative;
  cursor: pointer;
  aspect-ratio: 16/9;
}
.video__preview iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.video__img {
  width: 100%;
  display: block;
}
.video__img-dark {
  display: none;
}
.video__play {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: rgba(88, 98, 145, 0.3);
  border-radius: 50%;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.video__play::after {
  position: absolute;
  content: "";
  background-image: url(../assets/img/play.svg);
  background-repeat: no-repeat;
  width: 41px;
  height: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -40%);
  -webkit-transform: translate(-35%, -35%);
}
.video__box {
  max-width: 970px;
  margin: 0 auto;
}
.video__title {
  margin-bottom: 20px;
}

.promises {
  padding-top: clamp(60px, 8vw, 120px);
}
.promises__wrapper {
  position: relative;
}
.promises__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.promises__box {
  max-width: clamp(400px, 60vw, 770px);
  padding: clamp(30px, 4vw, 75px) 0 clamp(30px, 4vw, 75px) clamp(25px, 4vw, 70px);
  position: absolute;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.9);
  left: 30%;
}
.promises__items {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(30px, 4vw, 70px) clamp(40px, 2vw, 100px);
  align-items: flex-start;
}
.promises__item {
  width: calc(50% - 50px);
}
.promises__title {
  font-size: clamp(18px, 2vw, 24px);
  line-height: 2;
  margin-bottom: 5px;
  font-weight: 400;
}
.promises__subtitle {
  display: block;
}
.promises__subtitle:not(:last-child) {
  margin-bottom: 10px;
}
.promises__button {
  width: calc(50% - 50px);
  border: 1px solid #E4E4E4;
  padding: clamp(18px, 3vw, 32px) 0;
  max-width: clamp(220px, 30vw, 300px);
  text-align: center;
  align-self: flex-start;
}
.promises__link {
  display: inline-block;
}

.reviews {
  padding-top: clamp(60px, 8vw, 120px);
}
.reviews__title {
  margin-bottom: 20px;
}
.reviews__text {
  margin-bottom: clamp(25px, 4vw, 50px);
  max-width: clamp(280px, 35vw, 400px);
}
.reviews__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(10px, 3vw, 30px);
}
.reviews__content-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.reviews__content-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.reviews__content-box {
  position: absolute;
  padding: clamp(10px, 3vw, 30px) clamp(10px, 4vw, 45px);
  inset: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews__content-text {
  font-family: Lato, sans-serif, sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 1.5vw, 16px);
  line-height: 1.62;
  opacity: 0.8;
}
.reviews__content-author {
  font-family: PlayfairDisplay, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(16px, 2vw, 20px);
  letter-spacing: 0.08em;
  font-weight: 400;
}

.footer {
  padding-top: clamp(60px, 8vw, 120px);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: clamp(30px, 5vw, 60px) 0 clamp(50px, 7vw, 100px);
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}
.footer__content {
  max-width: 470px;
  width: 40%;
}
.footer__title {
  margin-bottom: clamp(25px, 4vw, 50px);
}
.footer__form {
  width: 40%;
}
.footer__form-group {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 4vw, 40px);
}
.footer__form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: clamp(8px, 1.5vw, 12px);
  outline: none;
}
.footer__form-input::-moz-placeholder {
  font-family: PlayfairDisplay, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #262A3F;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.11;
  letter-spacing: 0.08em;
  opacity: 0.5;
}
.footer__form-input::placeholder {
  font-family: PlayfairDisplay, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #262A3F;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.11;
  letter-spacing: 0.08em;
  opacity: 0.5;
}
.footer__form-input:focus {
  border-bottom: 1px solid #F1897B;
}
.footer__form-btn {
  align-self: flex-start;
}
.footer__bottom {
  padding: clamp(16px, 3vw, 30px) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom-text {
  font-size: 14px;
  line-height: 1.85;
}
.footer__bottom-text span {
  margin-left: 12px;
}
.footer__bottom-list {
  display: flex;
  gap: clamp(16px, 3vw, 32px);
}
.footer__bottom-item {
  transition: color 0.3s ease;
}
.footer__bottom-item:hover {
  color: #F1897B;
}

.dark {
  background-color: #161926;
}
.dark .dark-ligth {
  background-color: #fff;
  border-color: #000;
}
.dark .ligth-ico {
  display: block;
  fill: #000;
}
.dark .dark-ico {
  display: none;
}
.dark .title-accent {
  color: #689FF2;
}
.dark .title {
  color: #fff;
}
.dark .text {
  color: #fff;
  opacity: 0.6;
}
.dark .link-accent {
  color: #53F3CD;
}
.dark .link-accent::after {
  background-color: #53F3CD;
}
.dark .header {
  background-color: rgba(0, 0, 0, 0.2);
}
.dark .menu__btn span {
  background-color: #fff;
}
.dark .menu__item {
  color: #fff;
}
.dark .menu__item::after {
  background: linear-gradient(45deg, #53f3cd, transparent);
}
.dark .hero__bg-img {
  display: none;
}
.dark .hero__bg-img__dark {
  display: block;
  width: 100%;
}
.dark .hero__title {
  color: #fff;
}
.dark .hero__text {
  color: #fff;
}
.dark .info__title {
  color: #fff;
}
.dark .info__box {
  background-color: rgba(22, 25, 38, 0.9);
}
.dark .info__item::after {
  background-color: #689FF2;
}
.dark .info__ico {
  color: #fff;
}
.dark .info__subtitle {
  color: #fff;
}
.dark .quote__text::after {
  background-image: url("../assets/img/dark/quote-icon_dark.svg");
}
.dark .video__wrapper {
  border-color: #515773;
}
.dark .video__wrapper::after {
  border-color: #515773;
}
.dark .video__wrapper::before {
  border-color: #515773;
}
.dark .video__preview::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(22, 25, 38, 0.8);
}
.dark .video__play {
  background-color: rgba(104, 159, 242, 0.3);
}
.dark .video__play::after {
  background-image: url(../assets/img/dark/play_dark.svg);
}
.dark .video__img {
  display: none;
}
.dark .video__img-dark {
  display: block;
}
.dark .promises__box {
  background-color: rgba(22, 25, 38, 0.9);
}
.dark .promises__title {
  color: #fff;
}
.dark .footer__form-input {
  background-color: #161926;
  color: #fff;
}
.dark .footer__form-input::-moz-placeholder {
  color: #fff;
}
.dark .footer__form-input::placeholder {
  color: #fff;
}
.dark .footer__form-input:focus {
  border-bottom: 1px solid #53F3CD;
}
.dark .footer__bottom-text {
  color: #fff;
}
.dark .footer__bottom-text span {
  color: #fff;
}
.dark .footer__bottom-item {
  color: #fff;
}
.dark .footer__bottom-item:hover {
  color: #53F3CD;
}

@media (max-width: 1000px) {
  .info__wrapper {
    margin-top: 0;
  }
  .info__img {
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info__box {
    max-width: 600px;
    width: 100%;
    left: 13%;
  }
}
@media (max-width: 768px) {
  .header {
    top: 0;
    backdrop-filter: none;
    z-index: 10;
  }
  .menu__list {
    transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    position: absolute;
    inset: 0;
    background-color: #262A3F;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    transition: opacity 1s ease;
    z-index: 20;
    opacity: 0.8;
  }
  .menu__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 25;
    transition: opacity 0.3s ease;
  }
  .menu__link {
    font-size: 40px;
    color: #fff;
  }
  .menu.menu--open .menu__list {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  .menu.menu--open .menu__btn span:nth-child(1) {
    transform: rotate(45deg) translateY(13px);
  }
  .menu.menu--open .menu__btn span:nth-child(2) {
    opacity: 0;
  }
  .menu.menu--open .menu__btn span:nth-child(3) {
    transform: rotate(-45deg) translateY(-13px);
  }
  .menu.menu--open .menu__btn span {
    background-color: #fff;
  }
  .info__wrapper {
    margin-top: 15%;
  }
  .info__img {
    width: 100%;
  }
  .info__box {
    inset: 19% 3%;
  }
  .promises__img {
    width: 100%;
  }
  .promises__box {
    left: 17%;
  }
  .reviews__content {
    flex-wrap: wrap;
  }
  .reviews__content-text {
    font-size: 16px;
  }
  .reviews__content-box {
    justify-content: flex-start;
    gap: 30px;
  }
  .reviews__content-item {
    width: 100%;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .info__wrapper {
    margin-top: 35%;
  }
  .info__box {
    inset: 0;
    display: block;
  }
  .info__items {
    flex-direction: row;
    margin-bottom: 50px;
  }
  .info__item {
    align-self: flex-start;
  }
  .info__ico {
    width: 12px;
    height: 24px;
  }
  .benefits__item {
    width: 100%;
  }
  .quote__text::after {
    top: -13%;
  }
  .video__play {
    width: 80px;
    height: 80px;
  }
  .video__play::after {
    width: 31px;
    height: 35px;
    top: 45%;
  }
  .promises__wrapper {
    position: static;
  }
  .promises__img {
    display: none;
  }
  .promises__box {
    max-width: 100%;
    text-align: left;
    position: static;
  }
  .promises__items {
    justify-content: flex-start;
  }
  .promises__item {
    width: 100%;
  }
  .footer__wrapper {
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer__bottom {
    justify-content: center;
  }
  .footer__content {
    width: 100%;
  }
  .footer__form {
    width: 100%;
  }
}
@media (max-height: 600px) {
  .menu__list {
    gap: 5px;
    justify-content: flex-start;
  }
  .menu__link {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */